
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}


h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb7;
}

#weatherResult {
    font-size: 18px;
    margin: 20px 0;
}
